*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    width: 100%;
    height: 100vh;
}
h1{
    margin: 10px 35% 10px;
}
#gray{
    background-color: gray;
}
#red{
    background-color: red;
}
#orange{
    background-color: orange;
}
#blue{
    background-color: blue;
}
.btn{
    padding: 10px;
    border:1px solid;
    width: 100px;
    height: 50px;
    margin: 10px ;
}
#btn-box{
display: flex;
justify-content: center;
}
h3{
    margin: 0  300px;
}
